@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --textos:#F3EFF5;
    --fundos:#001A37;
    --sombras:#70B5FF;
    --destaques:#F8D525;
    --contraste:#AA7BC3;
    --font_titulos: "Anton", sans-serif;
    --font_textos: "Anek Telugu", sans-serif;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #001A37;
}

header {
    background-color: transparent;
    height: 20vh;
    padding: 0px 20px;
}

header h1 {
    color: var(--textos);
    font-family: var(--font_titulos);
    font-size: 3em;
    text-shadow: 2px 2px 4px #70b5ff50;
    letter-spacing: 3px
}

header p {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #70b5ff50;
}

nav {
    background-color: var(--fundos);
    text-align: center;
    border-top: 1.5px solid var(--contraste);
    padding-top: 10px;
}

nav a {
    color: var(--textos);
    text-decoration: none;
    font-family: var(--font_textos);
    font-size: 1.1em;
    border-radius: 10px;
    padding: 5px;
}

nav a:hover {
    background-color: var(--destaques);
    color: var(--fundos);
    box-shadow: 0px 0px 10px #f8d5255d;
    transition: 0.8s;
    transform: scale(1.1);
}

main {
    max-width: 1100px;
    min-width: 360px;
    width: 100%;
    margin: auto;
}

.destaque {
    height: 50vh;
    background-image: url(../imagens_nba/adam-bouse-m5nbZDHr8jM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    width: 100%;
    box-shadow: inset 0px 0px 100px #aa7bc36a;
    padding: 20px 0px;
}

.destaque h2 {
    color: var(--textos);
    font-family: var(--font_titulos);
    font-size: 3em;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 3px;
    padding-top: 15vh;
    text-align: center;
}

.destaque p {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

img {
    max-width: 250px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #70b5ff50;
    border: 1px solid white;
}

#jogadores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    border-bottom: 1.5px solid var(--contraste);
}

.fundo {
    background-color: #003f8768;
    box-shadow: 0px 0px 10px #70b5ff50;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

#jordan:hover {
    box-shadow: 0px 0px 50px red;
    transition: 0.5s;
    transform: scale(1.05);
    img {
        border: 2px solid red;
    }
}

#kobe:hover {
    box-shadow: 0px 0px 50px rgb(146, 2, 146);
    transition: 0.5s; 
    transform: scale(1.05);
    img {
        border: 2px solid rgb(146, 2, 146);
    }
}

#lebron:hover {
    box-shadow: 0px 0px 50px yellow;
    transition: 0.5s;
    transform: scale(1.05);
    img {
        border: 2px solid yellow;
    }
}

#curry:hover {
    box-shadow: 0px 0px 50px rgb(0, 106, 255);
    transition: 0.5s;
    transform: scale(1.05);
    img {
        border: 2px solid rgb(0, 106, 255);
    }
}

#wade:hover {
    box-shadow: 0px 0px 50px #af1719;
    transition: 0.5s;
    transform: scale(1.05);
    img {
        border: 2px solid #af1719;
    }
}

#luka:hover {
    box-shadow: 0px 0px 50px #0732AA;
    transition: 0.5s;
    transform: scale(1.05);
    img {
        border: 2px solid #0732AA;
    }
}

.jogador {
    text-align: center;
}

.jogador h3 {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px #70b5ff50;
    margin-bottom: 10px;
}

.jogador p {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 1em;
    text-shadow: 1px 1px 2px #70b5ff50;
    margin-top: 10px;
}

#estilo {
    margin-top: 20px;
    padding: 20px;
}

#estilo div {
    text-align: center;
    margin-bottom: 30px;
}

#estilo h2 {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 2.5em;
    text-decoration: underline 2px;
    text-shadow: 2px 2px 4px #70b5ff50;
    text-align: center;
    margin-bottom: 20px;
}

#estilo h3 {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px #70b5ff50;
    margin-bottom: 10px;
}

#estilo p {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #70b5ff50;
    margin-bottom: 10px;
}

#estilo img {
    max-width: 600px;
    width: 100%;
    border: 2px solid var(--destaques);
}

#galeria {
    padding: 20px;
    text-align: center;
}

#galeria h2 {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 2.5em;
    text-decoration: underline 2px;
    text-shadow: 2px 2px 4px #70b5ff50;
    text-align: center;
    margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #70b5ff50;
  border: 1px solid white;
}

a {
    text-decoration: none;
}

a:hover {
    img {
        transform: scale(1.1);
        transition: 0.5s;
    }

    figcaption {
        color: var(--destaques);
        transition: 0.5s;
    }
}

figcaption {
    color: var(--textos);
    font-family: var(--font_textos);
    font-size: 1em;
    text-shadow: 1px 1px 2px #70b5ff50;
    margin-top: 10px;
    text-align: center;
}

footer {
    padding: 30px;
    color: var(--textos);
    font-family: var(--font_textos);
    text-align: center;
}

footer a {
    color: var(--destaques);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--contraste);
    transition: 0.5s;
}

