@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

header {
    background-image:linear-gradient(to bottom, rgb(65, 107, 93), rgb(85, 127, 113));
    text-align: center;
    padding: 20px;
    height: 100px;
    color: white;
}

header > h1 {
    color: white;
    font-size: 2.5em;
    font-family: 'Mozilla Headline', sans-serif;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header > p {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);;
}   

nav {
    background-color: rgb(85, 127, 113);
    padding-bottom: 10px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

nav a:hover {
    background-color: rgb(65, 107, 93);
    border-radius: 10%;
    transition: 0.3s;
}

main {
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

article.SSD > h2 {
    font-family: 'mozilla Headline', sans-serif;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 2.4em;
}

article.SSD  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

article.SSD img {
    max-width: 100%;
    width: 600px;
    height: auto;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

hr {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

article.Xiaomi > h2 {
    font-family: 'mozilla Headline', sans-serif;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 2.4em;
}

article.Xiaomi p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

article.Xiaomi p.normal {
    font-weight: normal;
    padding-bottom: 0px;
    text-indent: 0px;
}

article.Xiaomi img {
    max-width: 100%;
    width: 600px;
    height: auto;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

article.Xiaomi ul {
    list-style-type: circle;
    display: block;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
}

article.Xiaomi ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
    padding-bottom: 10px;
}

article.ChatGPT > h2 {
    font-family: 'mozilla Headline', sans-serif;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 2.4em;
}

article.ChatGPT p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

article.ChatGPT img {
    max-width: 100%;
    width: 600px;
    height: auto;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

footer {
    background-color: rgb(65, 107, 93);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}

footer a::after {
    content: "\1F517";
}

footer a:visited {
    color: #4e9e76;
}