@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor_escura: #3E2723;
    --cor_media: #6D4C41;
    --contraste: #A1887F;
    --cor_clara: #D7CCC8;
    --cor_texto: #F5F5F5;
    --titulo: "Playfair", serif;
    --paragrafo: "Roboto", sans-serif;
}

body {
    background-color: var(--cor_escura);
}

header {
    text-align: center;
    background-color: var(--cor_escura);
    color: var(--cor_clara);
    max-width: 1200px;
    min-width: 360px;
    width: 100%;
    margin: auto;
}

header h1 {
    font-family: var(--titulo);
    font-variant: small-caps;
    font-size: 5em;
    padding-top: 50vh;
    padding-bottom: 50vh;
    text-shadow: 5px 2px 1px #6d4c4151;
    text-decoration: underline;
}

section {
    min-height: 100vh;
    background-color: var(--cor_media);
    max-width: 1200px;
    min-width: 360px;
    width: 100%;
    margin: auto;
    
}

section.paralaxe {
    box-shadow: inset 6px 6px 13px #a1887fa3;
    max-width: none;
}

section.paralaxe p {
    color: var(--cor_texto);
    font-family: var(--paragrafo);
    padding: 40px;
    line-height: 1.6em;
    font-size: 1.6em;
    font-weight: 500;
    text-indent: 40px;
    text-align: justify;
    background-color: #3e27239c;
    display: inline-block;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    text-shadow: 2px 2px 1px black;
}

section.paralaxe h2 {
    font-style: var(--titulo);
    padding: 15px;
    color: var(--cor_clara);
    font-weight: 700;
    font-size: 3.8em;
    text-shadow: 2px 2px 1px black;
    font-variant: small-caps;
    text-align: center;
    background-color: #3e27239c;
}

ul {
    color: var(--cor_texto);
    font-family: var(--paragrafo);
    padding: 40px;
    line-height: 1.6em;
    font-size: 1.5em;
    font-weight: 500;
    text-align: justify;
    background-color: #3e27239c;
    display: inline-block;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 40px;
    list-style-position: inside;
}

ul li {
    padding-bottom: 20px;
}

.normal {
    min-height: 80vh;
    max-width: none;
}

.normal h2 {
    font-style: var(--titulo);
    padding: 15px;
    color: var(--cor_clara);
    font-weight: 700;
    font-size: 3.8em;
    text-shadow: 2px 2px 1px #3e27234d;
    font-variant: small-caps;
    text-align: center;
}

.normal p {
    color: var(--cor_texto);
    font-family: var(--paragrafo);
    padding: 40px;
    line-height: 1.6em;
    font-size: 1.6em;
    font-weight: 500;
    text-indent: 40px;
    text-align: justify;
    text-shadow: 2px 2px 1px #3e27234d;
}

#graos {
    background-image: url(../imagens_café/graos1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#xicara {
    background-image: url(../imagens_café/xicara.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: var(--contraste);
    text-decoration: none;
}

a:hover {
    color: var(--cor_clara);
    transition: 0.3s;
    text-decoration: underline;
}

footer {
    background-color: var(--cor_escura);
    padding: 30px;
    text-align: center;
    color: var(--cor_media);
}

footer p {
    font-size: 1.4em;
    font-weight: bold;
    font-family: var(--paragrafo);
}
